body {
    background-color: #336699;
    color: #ffffff;
    font-family: Verdana, Arial, sans-serif;
    margin-top: 290px;
    margin-bottom: 10px;
}

main {
    width: 80%;
    margin-left: 100px;
    margin-bottom: 20px;
    padding: 25px;
    padding-bottom: 35px;
    display: block;
    background-size: 100%;
    background-color: #993333;
    background-clip: border-box;
    border-radius: 10px;
}

header {
    font-weight: bolder;
    font-size: 140%;
}

h1 {
    color: #ffffff;
    text-shadow: 5px 1px 3px #336699;
    font-family: "Lucida Handwriting", "Times New Roman";
    text-align: center;
    font-size: 70px;
    font-weight: bolder;
    background-color: #993333;
    border: 6px solid #663333;
    box-shadow: 0 8px 15px;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    width: 90%;
    height: 18%;
}

h2 {
    color: #333366;
    font-family: Verdana, "Times New Roman";
    text-transform: uppercase;
    text-indent: 1em;
    text-decoration: underline;
    text-shadow: 1px 1px 2px #ffffff;
}

p {
    text-align: left;
    text-indent: 2em;
}

#gallery {
    margin: 10px;
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: #000000;
}

#one {
    margin-top: 40px;
    margin-left: 100px;
    width: 400px;
    height: 300px;
    border: 5px solid #ffffff;
    border-bottom: 40px solid #ffffff;
    padding: 5px;
    background-color: #ffffff;
    transform: rotate(30deg);
}

#two {
    margin-top: 40px;
    margin-left: 100px;
    width: 400px;
    height: 300px;
    border: 5px solid #ffffff;
    border-bottom: 40px solid #ffffff;
    padding: 5px;
    background-color: #ffffff;
    transform: rotate(-30deg);
}

figcaption {
    text-align: center;
    padding: 3px;
    font-family: "Lucida Handwriting", Arial, sans-serif;
    font-weight: bold;
    color: #000000;
}